@model SmartShop_Ab.Models.UserMaster

@{
    ViewData["Title"] = "SignUp";
}
<body  style="background-image: url('https://png.pngtree.com/thumb_back/fw800/back_our/20190622/ourmid/pngtree-keyboard-technology-data-analysis-technology-image_217021.jpg'); margin: 0px; background-repeat: no-repeat; background-size: cover;">
<h1>Signup</h1>
<br/>
<h2 class="text-info">Create a Registeration</h2>
<br />
<hr />

<div class="row">
    <div class="col-md-4">
        <form asp-action="SignUp">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="fName" class="control-label"></label>
                <input asp-for="fName" class="form-control" />
                <span asp-validation-for="fName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LName" class="control-label"></label>
                <input asp-for="LName" class="form-control" />
                <span asp-validation-for="LName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DoB" class="control-label"></label>
                <input asp-for="DoB" class="form-control" />
                <span asp-validation-for="DoB" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender" class="control-label"></label>
                <input asp-for="Gender" class="form-control" />
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contactnumber" class="control-label"></label>
                <input asp-for="Contactnumber" class="form-control" />
                <span asp-validation-for="Contactnumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserId" class="control-label"></label>
                <input asp-for="UserId" class="form-control" />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Password" class="control-label"></label>
                <input asp-for="Password" class="form-control" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CPassword" class="control-label"></label>
                <input asp-for="CPassword" class="form-control" />
                <span asp-validation-for="CPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UserCategory" class="control-label"></label>
                <input asp-for="UserCategory" class="form-control" />
                <span asp-validation-for="UserCategory" class="text-danger"></span>
            </div>
            
             <div class="form-group row">
            <div class="col-3 offset-4">
                <input type="Submit" value="SignUp" class="btn btn-primary form-control" />
            </div>
            <div class="col-3">
                <a href="~/Account/Login" class="btn btn-success">Back to Login</a>
            </div>
            </div>
        </form>
    </div>
</div>
</body>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

@{
    try
    {
        if(TempData["msg"] !=null)
        {
            if(TempData["msg"] == "1")
            {
                <script>
                swal("Thank You!", "Signed UP Sucecssfully!", "success");
                </script>
            }
            else
            {
                <script>
                swal("Error", "Signup Failed", "error");
                </script>
            }
        }
    }
    catch
    {
        
    }
}

